:root {
    --cor1: #ee2211;
    --cor1-escura: #990000;
    --cor-fundo1: #f7f7f7;
    --cor-fundo2: #ffffff;
    --cor-texto: #000000;
    --cor-subtitulo: #00000030;
    --onda:url("../imagens/onda-clara.svg");
}

@media (prefers-colors-scheme: dark) {
    :root {
        --cor1: #ee2211;
        --cor1-escura: #990000;
        --cor-fundo1: #111111;
        --cor-fundo2: #000000;
        --cor-texto: #ffffff;
        --cor-subtitulo: #ffffff30;
        --onda:url("../imagens/onda-escura.svg");
    }
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: grid;
    gap: 40px;
    justify-items: center;
}

body { 
    font-family: Arial,Helvetica,sans-serif;
    background: var(--cor-fundo1);
    display: grid;
    gap: 2.75rem;
    margin-top: 2.75rem;
    justify-items: center;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.5rem;
}

img {
    max-width: 100%;
    display: block;
}

a, li {
    text-decoration: none;
    list-style: none;
}

p, h1, h2, h3 {
    margin: 0px;
    color: var(--cor-texto);
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
}

.menu a {
    background: var(--cor-fundo2);
    padding: 1rem 2rem;
    border-radius: 4px;
    color: var(--cor-texto);
    display: block;
    border: 2px solid var(--cor-fundo2);
}

.menu a:hover {
    border: 2px solid var(--cor1);
}

.introducao {
    position: relative;
    background: var(--cor-fundo2);
    padding: 40px;
    text-align: right;
    display: grid;
    align-content: center;
    justify-items: end;
    gap: 20px;
}

.introducao-cover img {
    object-fit: cover;
    height: 100%;
}

.ver-mais {
    background: var(--cor1);
    color: var(--cor-fundo2);
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #ffffff;
}

.ver-mais:hover {
    background: var(--cor1-escura);
}

.introducao::before {
    /* display: inline-block; - DISPLAY GRID DEFINE COMO BLOCO */ 
    content: "";
    position: absolute;
    top: 30px;
    right: -30px;
    width: 60px;
    height: 4px;
    background: var(--cor1);
}



.subtitulo {
    background-image: var(--onda);
    font-size: 4rem;
    color: var(--cor-subtitulo);
    text-align: right;
    padding: 40px;
    align-self: center;
    /* word-break: break-all; */ 
}

.vantagens {
    background: var(--cor-fundo2);
    padding: 40px;    
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px; /* 1° VALOR DE LINHA E 2° VALOR COLUNA */
    padding: 20px;
    border-left: 4px solid var(--cor-fundo2);
}

.vantagens-item p {
    grid-column: 2;
}

.vantagens-item:nth-child(odd) {
    background-color: var(--cor-fundo1);
}

.vantagens-item:hover {
    border-left: 4px solid var(--cor1);
}

.rodape {
    background: var(--cor-fundo2);
    width: 100%;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .conteudo-vantagens {
        grid-template-columns: 1fr;
    }
    .subtitulo {
        text-align: center;
    }
}

@media (max-width: 605px) {
    header, body {
        gap: 20px;
        margin-top: 10px;
    }
    .conteudo {
        grid-template-columns: 1fr;
    }
    .introducao {
        text-align: left;
        justify-items: start;
    }
    .introducao::before {
        display: none;

    }
    .subtitulo {
        font-size: 3rem;
    }
}