@media (max-width: 1000px) {
    h1 {
        font-size: 3.5rem;
    }
    .contato {
        padding: 40px;
    }
    footer li {
        margin-top: 20px;
        font-size: 1.8rem;
    }
    footer a {
        font-size: 1.8rem;
    }
}

@media (max-width: 890px) {
    main {
        gap: 50px;
    }
    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
    h1::before {
        content: "";
        background: white url(../imagens/detalhe.svg) center no-repeat;
        /* background-position: center;
        background-repeat: no-repeat; */
        width: 40px;
        height: 10px;
        position: absolute;
        top: -15px;
        left: -0px;
        z-index: -1;
    }
    p {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 3.8rem;
    }
    footer ul {
        margin-top: 20px;
        margin-inline-end: 10px;
        text-align: left;
    }
    footer li {
        font-size: 1.6rem;
    }
    footer a {
        font-size: 1.6rem;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .sobre-experiencias {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .sobre-formacao-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    h2 {
        text-align: center;
    }
    footer li {
        font-size: 1.3rem;
    }
    footer a {
        font-size: 1.3rem;
    }
}

@media (max-width: 690px) {
    header {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .menu a {
        font-size: 16px;
        padding: 0.8rem 1rem;
        background-color: #f5f5f5;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    p {
        font-size: 1rem;
    }
    .sobre-experiencias {
        max-width: 85vw;
    }
    .exp-texto {
        margin-bottom: 40px;
    }
    .empresa {
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .contato {
        gap: 0px;
        padding: 10px;
    }
    ul {
        gap: 0px;
    }
    footer::before {
        top: -50px;
        width: 100px;
        height: 90px;
    }
    .direitos p {
        font-size: 1rem;
    }
}