@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    /* max-width: 85vw; */
    align-content: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 85vw;
    margin: 0px auto;
}

.menu {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 1rem 2rem;
    text-align: left;
    border: 2px solid white;
}

.menu a:hover {
    border: 2px solid #70DA1C;
    border-radius: 2px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 40px 20px;
    align-items: center;
    max-width: 85vw;
    margin: 0px auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4.5rem;
    line-height: 80px;
    position: relative;
    margin: 0px;
}

h1::before {
    content: "";
    background: white url(../imagens/detalhe.svg) center no-repeat;
    /* background-position: center;
    background-repeat: no-repeat; */
    width: 130px;
    height: 100px;
    position: absolute;
    top: -15px;
    left: -43px;
    z-index: -1;
}

p {
    font-size: 1.5rem;
    color: #525252;
    display: inline-block;
}

h2 {
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0e0e0;
    word-break: break-all;
    font-weight: bold;
    margin: 10px auto;
    line-height: 1;
}

strong {
    color: #141414;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

/* CONFIGURAÇÕES SEÇÃO DE EXPERIENCIAS */

.sobre-experiencias {
    max-width: 85vw;
    margin: 0px auto;
    max-width: 85vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px 20px;
    gap: 100px;
}

.exp-texto {
    max-width: 40ch;
    margin-bottom: 60px;
    line-height: 1.3;
    text-align: justify;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 20px;
}

.empresa::before {
    content: "";
    display: block;
    background: linear-gradient(#b6f829,#67dd0a);
    width: 4px;
    height: 25px;
    position: absolute;
    top: 24px;
    left: -4px;
}

.empresa-ano {
    position: absolute;
    top: 29px;
    left: -40px;
    font-size: 14px;
    color: #525252;
    text-align: right;
}

.empresa li {
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
}

.empresa-texto {
    font-size: 14px;
    margin: 0px;
}

/* CONFIGURAÇÕES SEÇÃO DE FORMAÇÃO */

.sobre-formacao {
    background: #141414;
    color: #ffffff;
    padding: 20px;
}

.sobre-formacao-container {
    max-width: 85vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px 20px;
    gap: 100px;
}

.formacao-titulo {
    color: black;
}

.formacao-texto {
    color: #a3a3a3;
    max-width: 40ch;
    text-align: justify;
    margin-bottom: 60px;
}

.formacao-strong {
    color: white;
}

.formacao-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formacao-box {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    border-radius: 4px;
    height: 120px;
    position: relative;
}

.formacao-tipo {
    font-size: 14px;
    color: #a3a3a3;
    text-align: left;
    padding: 0px;
}

.formacao-box::before {
    content: "";
    display: block;
    background: linear-gradient(#b6f829,#67dd0a);
    width: 4px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: -4px;
}

.cursos {
    margin-bottom: 40px;
}

.idiomas {
    margin-bottom: 40px;
}

.cursos-titulo {
    font-size: 14px;
    color: #a3a3a3;
    position: relative;
    margin-bottom: 20px;
}

.idiomas-titulo {
    font-size: 14px;
    color: #a3a3a3;
    position: relative;
    margin-bottom: 20px;
}

.cursos-titulo::before {
    content: "";
    background: url(../imagens/cursos.svg);
    display: block;
    position: absolute;
    top: -3px;
    left: -35px;
    width: 25px;
    height: 25px;
}

.idiomas-titulo::before {
    content: "";
    background: url(../imagens/idiomas.svg);
    display: block;
    position: absolute;
    top: -3px;
    left: -35px;
    width: 25px;
    height: 25px;
}

.cursos-ul {
    display: block;
}

.cursos-ul li {
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.cursos-ul li span {
    color: #a3a3a3;
}

.idiomas-ul {
    display: block;
}

.idiomas-ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.idiomas-ul li span {
    color: #a3a3a3;
}

/* CONFIGURAÇÕES FOOTER */

footer {
    background: black;
    position: relative;
}

footer::before {
    content: "";
    display: block;
    background: url(../imagens/detalhe.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
    left: 100px;
    width: 120px;
    height: 120px;
}

.contato {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    gap: 150px;
    max-width: 85rem;
}

footer p {
    color: #cccccc;
    line-height: 1.8;
    margin: 40px;
}

footer ul {
    margin-right: 100px;
}

footer li {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

footer a {
    font-size: 2.5rem;
    color: white;
    padding: 0px;
    text-decoration: none;
    font-weight: bold;
    border: 0px solid black;
}

.direitos {
    text-align: center;
}

.direitos p {
    font-size: 1.2rem;
}