.flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content: center;
    align-content: center; */
    place-content: start center; /* Simplificando codigo acima */
}

h2 {
    background: #e7e7e7;
    border: 1px solid #d7d7d7;
    margin: 0px;
    padding: 20px;

    /* flex-grow: 1;
    flex-basis: 0; 
    flex-shrink: 1; */

/*     flex: 1; /* Atalho para código acima */
}

.grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 20px;
}