/* ESTILOS PADRÕES */

body {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    background: #a8f;
    padding: 10px 20px;
    color: #103;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    line-height: 1;
}

img {
    max-width: 100%;
}

p {
    font-size: 20px;
    margin: 0px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    place-items: start;
}

.titulo {
    grid-column: 1 / -1;
}

.preco {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

.info {
    display: grid;
    place-items: start;
    place-self: start;
    gap: 20px;
}

